<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <div th:replace ="~{layout :: layout (title='Today',content=~{::content})}">
  <div th:fragment="content">
  <form method="post" action="/auth/logout">
    <div th:replace="fragments/csrf :: csrf"></div>
    <button>Logout</button>
  </form>

  <h1>Today</h1>

  <div th:if="${running}">
    <form method="post" action="/session/stop">
      <div th:replace="fragments/csrf :: csrf"></div>
      <input name="note" placeholder="What did you do? (not nessesary)"/>
      <button type="submit">STOP</button>
    </form>
  </div>

  <div th:unless="${running}">
    <form method="post" action="/session/start">
      <div th:replace="fragments/csrf :: csrf"></div>
      <button type="submit">START</button>
    </form>
  </div>

  <h2>Previous sessions </h2>
  <ul>
    <li th:each="s : ${sessions}">
      <span th:text="${s.startedAt}"></span>
      —
      <span th:text="${s.endedAt}"></span>
      <span th:if="${s.note != null}"> • </span>
      <span th:text="${s.note}"></span>
    </li>
  </ul>
  </div>
  </div>
</body>
</html>
