<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div th:replace ="~{layout :: layout (title='Login',content=~{::content})}">
    <div th:fragment="content">
      <h1>Login</h1>

      <form method="post" action="/login">
        <div th:replace="fragments/csrf :: csrf"></div>
        <input
        name = "email"
        type = "email"
        placeholder = "email@email.com"
        required
        />

        <button type = "submit">Send magic link</button>
        </form>

        <div th:if="${sent}">
          <p>Magic link sent to you!</p>
          <p th:if="${link}">Preview link: <a th:href="${link}" th:text="${link}"></a></p>
        </div>
    </div>
    </div>
  </body>
</html>